* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --bg-color: rgba(0, 0, 0, 0.9);
  --text-color: white;
  --accent-color: bluepurple;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

body {
  height: 100vh;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

body > .landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 500px;
  height: 500px;
  border: none;
  border-radius: 2em;
  box-shadow: 0 0 5px white;
  color: white;
  animation: 0.3s popUp ease-out forwards;
}

.landing.animation {
  animation: 1s popOut ease-out forwards;
}

.landing.animation.hide {
  display: none;
}

.landing .logo {
  background-color: black;
  padding: 1em;
  height: 4em;
  width: 4em;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: glassEffect 2s infinite alternate;
}

.logo > span {
  font-size: 30px;
  animation: neonGlow 1s infinite alternate;
  position: fixed;
}

.landing h2 {
  font-family: "Press Start 2P", sans-serif;
  animation: neonGlow 1s ease forwards;
}

#form {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 4fr;
}

#form label {
  text-align: right;
  align-self: center;
}

#form input,
select {
  cursor: default;
  border-radius: 0.2em;
  height: 2.5em;
  padding: 0 0.5em;
  align-self: center;
  border: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.479);
  transition: 0.3s box-shadow ease-in-out;
}

#form select {
  text-align: center;
  font-size: 1.5rem;
  height: max-content;
}

select {
  background: rgba(0, 0, 0, 0.493);
  transition: 0.4s;
  padding: 0 0.5em;
}

#form input:hover,
select:hover,
input:focus,
select:focus {
  background: rgba(0, 0, 0, 0.493);
  border: 0.01em solid red;
  box-shadow: 0 0 5px 0 red;
}

select,
::picker(select) {
  appearance: base-select;
  border: none;
  border-radius: 0.1em;
}

::picker(select) {
  border-radius: 0.25em;
  box-shadow: 0 0 5px 0 red;
}
option:hover {
  background-color: rgba(255, 0, 0, 0.24);
}

#form input:focus,
select:focus {
  border: 0;
  outline: 1px solid red;
  box-shadow: 0 0 5px 0 red;
}

.landing > #form .btn {
  grid-column: 1 / span 2;
  align-self: center;
  justify-self: center;
}
.landing > #form .play {
  justify-self: center;
  background-color: red;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 0.5em 3em;
  border-radius: 0.5em;
  border: none;
  box-shadow: 0 0 5px;
  color: white;
  text-shadow: 0 0 5px lightcoral;
  transition: 0.5s color ease, 0.5s background-color ease-in-out;
}

.landing > #form .play:hover {
  background-color: transparent;
  color: red;
  text-shadow: 0 0 5px;
}

.info {
  display: none;
}

.info.show {
  display: flex;
  flex-direction: column;
  color: white !important;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  box-shadow: 0 0 12px white;
  width: 300px;
  height: 400px;
  gap: 2em;
  i {
    font-size: 48px;
  }
}

.container {
  display: none;
}

.container.show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  color: var(--text-color);
  border: none;
  width: 500px;
  height: 500px;
  border-radius: 2em;
  box-shadow: 0 0 5px white;
  padding: 2em;
  animation: 0.3s popUp ease-in forwards;
  z-index: 1;
}

.row {
  display: flex;
  height: calc(100% / 3);
  width: 100%;
}

.row:nth-child(2) {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.col {
  cursor: pointer;
  width: calc(100% / 3);
  text-align: center;
  height: 100%;
}

.col i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 0.5s box-shadow ease;
  font-size: 100px;
}
.col:nth-child(2) {
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.col:active {
  color: red;
}

.col i:hover {
  box-shadow: inset 0 0 15px 15px rgba(0, 255, 55, 0.2);
}

.result {
  display: none;
  width: 300px;
  height: 200px;
  border-radius: 1em;
  background-color: var(--bg-color);
  color: white;
  border: none;
  box-shadow: 0 0 5px 3px lightgreen;
}

.result[open]{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  z-index: 1000;
  animation: 0.4s popUp ease-in forwards;
}

.result::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); /* Apply a blur effect */
}
@keyframes popUp {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popDown {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes neonGlow {
  from {
    color: white;
    text-shadow: 0 0 10px red;
  }
  to {
    color: red;
    text-shadow: 0 0 5px red;
  }
}

@keyframes glassEffect {
  from {
    box-shadow: inset 5px -5px 12px 5px rgba(255, 255, 255, 0.281),
      inset 12px 12px 10px 1px rgba(255, 255, 255, 0.24),
      inset 12px 12px 3px 2px rgba(255, 255, 255, 0.123),
      inset -1px -1px 1px 1px rgba(255, 255, 255, 0.123),
      inset 100px 100px 1px 5px rgba(255, 255, 255, 0);
  }
  to {
    box-shadow: inset -5px 5px 12px 5px rgba(255, 255, 255, 0.281),
      inset -12px -12px 10px 1px rgba(255, 255, 255, 0.24),
      inset -12px -12px 3px 2px rgba(255, 255, 255, 0.123),
      inset 1px 1px 1px 1px rgba(255, 255, 255, 0.123),
      inset -50px -50px 1px 5px rgba(255, 255, 255, 0.1);
  }
}
